/* MODULE STYLES */

/* Mailchip Widget */ 

#mc_embed_signup form
    padding: 0 !important

label
    color: $dark-blue-shade
    font-family: $font-stack-open-sans
    font-size: 1.8rem
    font-weight: $light
    position: absolute
    top: 50%
    right: null
    bottom: null
    left: 23px
    transform: translateY(-50%)
    pointer-events: none
    transition: 0.3s

#mc_embed_signup_scroll .clear .button
    width: 100%
    height: 52px
    background-color: $prime-color
    color: $white
    font-family: $font-stack-open-sans
    font-weight: $bold
    text-transform: uppercase
    font-size: 1.8rem
    border: none
    border-radius: 0

#mce-EMAIL
    width: 100%
    height: 52px
    background: none
    border: 1px solid $prime-color
    text-indent: 23px !important
    outline: none
    border-radius: 0

#mce-EMAIL:focus + label,
#mce-EMAIL.has-value + label
    top: -10px
    font-size: 1.2rem
    color: $tertiary-color

#mc_embed_signup .indicates-required
    margin-right: 0 !important
    margin-bottom: 3px

.mc-field-group
    display: flex
    position: relative
    margin-bottom: 15px
    width: 100% !important
    padding-bottom: 0 !important

#mc-embedded-subscribe:hover
    background-color: $tertiary-color
    color: $white
    text-decoration: none
    +transition(all 0.3s ease-in-out)

/* Animated Tick */

svg
    width: 100px
    display: block
    margin: 0 auto

.path
    stroke-dasharray: 1000
    stroke-dashoffset: 0
    &.circle
        -webkit-animation: dash 0.9s ease-in-out
        animation: dash 0.9s ease-in-out
    &.line
        stroke-dashoffset: 1000
        -webkit-animation: dash 0.9s 0.35s ease-in-out forwards
        animation: dash 0.9s 0.35s ease-in-out forwards
    &.check
        stroke-dashoffset: -100
        -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards
        animation: dash-check 0.9s 0.35s ease-in-out forwards

p
    text-align: center
    margin: 20px 0 0
    font-size: 1.25em
    line-height: 1.3
    &.success
        color: #73af55
    &.error
        color: #d06079

@-webkit-keyframes dash
    0%
        stroke-dashoffset: 1000

    100%
        stroke-dashoffset: 0


@keyframes dash
    0%
        stroke-dashoffset: 1000

    100%
        stroke-dashoffset: 0


@-webkit-keyframes dash-check
    0%
        stroke-dashoffset: -100

    100%
        stroke-dashoffset: 900


@keyframes dash-check
    0%
        stroke-dashoffset: -100

    100%
        stroke-dashoffset: 900