@charset "UTF-8";
/* PLUGIN STYLES */
fa {
  color: white; }

/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  padding: 0;
  border: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus {
  outline: none; }

/* BASE STYLES */
html {
  font-size: 10px; }

body {
  background-color: #ffffff;
  color: #00253e;
  overflow-y: hidden; }

h1 {
  display: none; }

h2 {
  font-size: 3.2rem;
  line-height: 0.9;
  margin: 22px 0;
  font-weight: 400 !important;
  font-family: "Open Sans", sans-serif; }

p {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

a {
  color: #00253e; }

a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a:hover, a:focus {
  color: #0079CA; }

.socail-icons > li {
  font-size: 2.8rem;
  margin: 0 20px; }

.test-phase {
  background-color: #CC0807;
  color: #ffffff;
  padding: 2rem;
  font-size: 1.4rem;
  position: absolute;
  top: 0;
  left: 0; }

/* Animation */
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUpß {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
/* LAYOUT STYLES */
.wrapper {
  height: 100vh; }

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.socail-icons {
  margin: 24px 0; }

.socail-icons > li {
  display: inline-block; }

.form-wrapper {
  margin: 0 0 40px 0; }

.success-wrapper {
  margin: 10px 0 40px 0; }

/* MODULE STYLES */
/* Mailchip Widget */
label {
  color: #667c8b;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s; }

#mc_embed_signup_scroll .clear .button {
  width: 100%;
  height: 52px;
  background-color: #00253e;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8rem;
  border: none;
  border-radius: 0; }

#mce-EMAIL {
  width: 100%;
  height: 52px;
  background: none;
  border: 1px solid #00253e;
  text-indent: 23px !important;
  outline: none;
  border-radius: 0; }

#mce-EMAIL:focus + label,
#mce-EMAIL.has-value + label {
  top: -10px;
  font-size: 1.2rem;
  color: #0079CA; }

#mc_embed_signup .indicates-required {
  margin-right: 0 !important;
  margin-bottom: 3px; }

.mc-field-group {
  display: flex;
  position: relative;
  margin-bottom: 15px;
  width: 100% !important;
  padding-bottom: 0 !important; }

#mc-embedded-subscribe:hover {
  background-color: #0079CA;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* Animated Tick */
svg {
  width: 100px;
  display: block;
  margin: 0 auto; }

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0; }
  .path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out; }
  .path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards; }
  .path.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
    animation: dash-check 0.9s 0.35s ease-in-out forwards; }

p {
  text-align: center;
  margin: 20px 0 0;
  font-size: 1.25em;
  line-height: 1.3; }
  p.success {
    color: #73af55; }
  p.error {
    color: #d06079; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }
@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100; }
  100% {
    stroke-dashoffset: 900; } }
/* Meida Queries */
@media only screen and (max-width: 768px) {
  html {
    font-size: 8px; } }

/*# sourceMappingURL=app.css.map */
